html {
	height: 100%;
}

body {
	margin: 0;
	height: 100%;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
}


#outer-container {
	display: table;
	width: 100%;
	height: 100%;
    background-color: aquamarine;
}

/** SIDEBAR **/

#sidebar {
	display: table-cell;
	width: 20%;
    height: 100vh;
	vertical-align: top;
    background-color: rgb(108, 187, 108);
}

#sidebarcontainer{
    width: 90%;
    height: 100%;
    margin-left: 5%;
    margin-top: 25px;
    font-size: 14px; 

    display: flex;
    flex-direction: column;
}


#sidebarcontainer > div {
    margin-bottom: 10px;
    overflow:scroll;
    overflow-y:scroll;
    align-items: stretch
}

#courseSearchBar {
    font-size: 20pt;
    width: 95%;
    border-radius: 10px;
}

#courseOptions * {
    margin-top: 5px;
    margin-bottom: 5px;
}


#courselist {
    border:0px solid black;
    border-color: black;
    overflow-y:scroll;
    margin: 0;
    padding: 0;
    padding-bottom: 10px;
    border-radius: 5px;
    height: 70vh;
}


.courselistcourse {
    margin: 0;
    padding: 0;
    padding: 4px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.courselistcourse > * {
    margin: 2px;
    padding: 0;
}




/** CONTENT (calendar part of page) **/
#content {
	display: table-cell;
	width: 80%;
	vertical-align: top;
    background-color: rgb(216, 130, 145);
}

#calendar {
    display: flex; 
    padding: 10px; 
    padding-top: 25px;  
    height: 100vh;
}

.hidden {
    display: none;
}

.calendartxt {
    font-size: min(1.5vh, 1.2vw)
}